@import url('./reset.css');

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

.hidden {
  display: none;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(6, 6, 6, 0.4);
  z-index: 100;
  opacity: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: opacity 0.6s ease;
}
.show {
  opacity: 1;
  pointer-events: all;
}
.loader {
  color: #3c423b;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.3s infinite linear;
  transform: translateZ(0);
}

@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0,
      0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em,
      0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em,
      0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em,
      0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}

.search-form {
  display: flex;
  justify-content: center;
  gap: 8px;

  margin-bottom: 32px;
}

.search-form-input {
  font-family: Montserrat, sans-serif;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.04em;

  width: 272px;
  height: 40px;
  padding: 8px 16px;

  border: 1px solid #808080;
  border-radius: 4px;
  transition: outline-color 0.5s ease, border-color 0.5s ease;

  &:hover {
    border-color: #000000;
  }
  &:focus,
  &:active {
    outline: none;
    border-color: #4e75ff;
  }

  &::placeholder {
    color: #2e2f42;
  }
}

.search-form-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4e75ff;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;

  transition: background-color 0.5s ease;

  &:hover {
    background-color: #6c8cff;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-link {
  display: block;
  width: 360px;
  height: 200px;
  position: relative;
  border: 1px solid #808080;
}

.card-wrapper-img {
  overflow: hidden;
  width: 100%;
  height: 152px;
}

.card-img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  width: 100%;

  background-color: #fff;
}

.card-info-colum {
  display: flex;
  flex-direction: column;
}

.card-info-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.card-info-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
